@media (max-width:600px) {
    .conttener{ 
        background: linear-gradient(-10deg, rgb(114, 10, 10),red);
       padding: 4vw;
    }
    .notFond {
 margin-top: 10%;
 font-size: 2.2vw;
 
}
.notFond img{
 width: 100%;
 height: 80%;
}
    .city{
    height: 5%;
}
.conttener .city_temper{
    font-size: 5vw;
}
.conttener .city_temper img{
    width: 90%;
    height: 30vw;
}
.conttener .sun{
    margin-top: 5vw;
}
.conttener .sun .humidity{
    font-size: 1vw;
}
.conttener .sun .speed{
    font-size: 1vw;
}
}